<!-- About section -->
<div id="myCarousel" class="carousel slide small-header">
    <div class="carousel-inner">
        <div class="item active">
            <img class="visible-lg" src="{{ SITEURL }}/theme/images/About_Hero.png" alt="About Page Hero">
            <div class="container">
                <div class="carousel-caption">
                    <h1>About</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-title color-Dark-Grey">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-left">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation">
                        <a href="#company">OUR COMPANY</a>
                    </li>
                    <li role="presentation">
                        <a href="#team">MEET THE TEAM</a>
                    </li>
                    <!-- <li role="presentation">
                            <a href="#news">NEWS</a>
                        </li> -->
                    <li role="presentation">
                        <a href="#contact">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
    </div>
</div>
<a class="anchor" id="company"></a>
<div id="ourCompany" class="section-title">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 section-desc">
                <h1 class="text-center">Our Company</h1>
                <br>
                <div class="text-left">
                    <p>Kansas City-based Applogie, LLC was founded in 2017 by a team of enterprise technology enthusiasts who
                        recognized the need for a solution to what they’d observed as one of the principal difficulties plaguing
                        organizations going cloud-based: forecasting and managing subscription costs, license use and renewals
                        as cloud subscription needs increase. Traditional finance tools didn’t allow enough control or insight
                        into these expenses, and disparate teams across organizations struggle to keep visibility into their
                        growing need to operate in the cloud. Applogie provides a solution to this complex problem, driving
                        value, transparency and collaboration while simplifying operational processes, leading to a completely
                        efficient cloud experience.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <a class="btn btn-outline-green" href="#contact" role="button">CONTACT US</a>
                </p>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
<a class="anchor" id="team"></a>
<div id="meetTheTeam" class="separator">
    <br>
    <br>
    <h2 class="text-center">Meet The Team</h2>
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <br>
                <img class="" src="{{ SITEURL }}/theme/images/brian.jpg" alt="Generic placeholder image" width="250" height="250">
                <h3>Brian Anderson&nbsp;
                    <a href="https://www.linkedin.com/in/briananderson913" target="_blank">
                        <img class="LinkedIn-icon" src="{{ SITEURL }}/theme/images/In-2C-128px-TM.png" alt="Generic placeholder image" width="24">
                    </a>
                </h3>
                <h4>CEO</h4>
                <h4>Co-Founder</h4>
                <br>
                <p class="text-left">Building a team isn’t easy – and for Brian, that’s part of what makes it so rewarding. From his blended family
                    of six to the integration of two large companies, Brian’s greatest accomplishments and moments of greatest
                    joy have stemmed from bringing people together and watching them build a whole that’s greater than the
                    sum of their parts. He believes in the power of the cloud to bring teams together and in unwavering loyalty
                    to Kansas City sports.</p>

            </div>
            <!-- /.col-lg-4 -->
            <!-- <div class="col-lg-3">
                    <br>
                    <img class="" src="{{ SITEURL }}/theme/images/patrick.jpg" alt="Generic placeholder image" width="250" height="250">
                    <h3>Patrick Kearney&nbsp;<a href="https://www.linkedin.com/in/patrick-kearney-5354071" target="_blank"><img  class="LinkedIn-icon" src="{{ SITEURL }}/theme/images/In-2C-128px-TM.png" alt="Generic placeholder image" width="24"></a></h3>
                    <h4>COO</h4>
                    <h4>Co-Founder</h4>
                    <br>
                    <p class="text-left">Patrick believes success comes to those who embrace change, stay flexible, and remain positive in the face of challenges – and that nobody should have to face those challenges alone. He knows first-hand that managing the complexity of cloud subscriptions can test any team’s resolve, and is dedicated to helping Applogie customers find their own success in the cloud. Patrick is a sci-fi fan and the father of four active teenagers.</p>
    
                </div> -->
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <br>
                <img class="" src="{{ SITEURL }}/theme/images/becci.jpg" alt="Generic placeholder image" width="250" height="250">
                <h3>Becci Anderson&nbsp;
                    <a href="https://www.linkedin.com/in/beccianderson" target="_blank">
                        <img class="LinkedIn-icon" src="{{ SITEURL }}/theme/images/In-2C-128px-TM.png" alt="Generic placeholder image" width="24">
                    </a>
                </h3>
                <h4>Chief Product Officer</h4>
                <h4>Co-Founder</h4>
                <br>
                <p class="text-left">Becci understands how crucial it is to make every minute count – it’s why she’s passionate about helping
                    businesses regain the time they waste managing cloud subscriptions. She is a busy mom of four, a proponent
                    of taking risks, and a professional who has transitioned her skillset from classroom teaching to adult
                    professional development to entrepreneurship. She loves funny movies, serious books, and spending time
                    with friends.</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <br>
                <img class="" src="{{ SITEURL }}/theme/images/headshot_scott@2x.png" alt="Generic placeholder image" width="250" height="250">
                <h3>Scott Coons&nbsp;
                    <a href="https://www.linkedin.com/in/scott-coons-3714a251" target="_blank">
                        <img class="LinkedIn-icon" src="{{ SITEURL }}/theme/images/In-2C-128px-TM.png" alt="Generic placeholder image" width="24">
                    </a>
                </h3>
                <h4>Co-Founder</h4>
                <h4>&nbsp;</h4>
                <br>
                <p class="text-left">Scott has found that success lies in the last 5%. No matter how hard you work along the way, people remember
                    how you finish. Without a strong delivery – putting as much effort into that last 5% as you did into
                    the first 5% – all your effort could be wasted. It’s a principle that applies as well to business as
                    it does to his beloved Kansas Jayhawks. Scott enjoys spending time with his wife and children, whom he
                    says he doesn’t deserve, and working with passionate entrepreneurs on turning their ideas into reality.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <br>
    <br>
</div>
<a class="anchor" id="contact"></a>
<div id="request">
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-6">
                <form id="id_hubspot_applogie" method="post" action="https://www.applogie.com:4321/requestDemo" data-toggle="validator" role="form">
                    <h4 class="text-left">Contact us</h4>
                    <br>
                    <div class="form-group">
                        <input class="form-control input-lg control-label" type="text" name="first_name" placeholder="First Name.." data-error="Please complete this mandatory field."
                            required="">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg control-label" type="text" name="last_name" placeholder="Last Name.." data-error="Please complete this mandatory field."
                            required="">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg control-label" type="email" name="email" placeholder="Email.." data-error="Please complete this mandatory field."
                            required="">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" name="company" placeholder="Company Name" data-error="Please complete this mandatory field."
                            required="">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" maxlength="15"
                            name="phone" placeholder="Phone Number">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control input-lg" rows="6" name="message" placeholder="Enter message.." data-error="Please complete this mandatory field."
                            required=""></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <input type="hidden" name="timestamp" value="">
                    <input type="hidden" name="startTime" value="">
                    <input type="hidden" name="endTime" value="">
                    <input type="hidden" name="type" value="TASK">
                    <br>
                    <button type="submit" class="btn btn-lg btn-applogie" role="button">SUBMIT REQUEST</button>
                    <br>
                </form>
            </div>
            <div class="col-lg-offset-1 col-lg-4">
                <address>
                    <h4>Visit us</h4>
                    <br>
                    <div class="map-responsive">
                        <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.5077308484656!2d-94.67327068474738!3d38.889503155014715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0c1d954448133%3A0xec10199cd7f2d30e!2s7311+W+132nd+St+%23320%2C+Overland+Park%2C+KS+66213%2C+USA!5e0!3m2!1sen!2sin!4v1525500749690"
                            allowfullscreen=""></iframe>
                    </div>
                    <br>
                </address>
                <address>
                    <h4>Address</h4>
                    <strong>Applogie, LLC</strong>
                    <br> 7311 W 132nd St #320
                    <br> Overland Park, KS 66213, USA
                    <br>
                </address>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>