<div id="call-out" class="color-Dark-Grey">
    <br>
    <br>
    <h3>Your organization is probably
        <b>overspending on software licenses </b>by as much as 30%
        <sup>
            <a href="http://www.gartner.com/newsroom/id/3382317" target="_blank">[1]</a>
        </sup>.
        <br>
        <br>
        <a class="caseStudy" href="{{ SITEURL }}/u-inc-case-study.html">See how <b>U Inc. saves $15,000</b> in annual costs with Applogie.</a>
    </h3>
    <br>
    <br>
    <br>
</div>