<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="visible-lg" src="{{ SITEURL }}/theme/images/Home Page Hero 1.jpg" alt="Cloud Cost Management Made Easy">
            <div class="container">
                <div class="carousel-caption">
                    <h1>SaaS Management Made Easy</h1>
                    <h3>Applogie's subscription management software discovers, manages and optimizes your organization’s SaaS expenses, helping companies save time and money.</h3>
                    <p>
                        <br>
                        <a class="btn btn-lg btn-applogie" href="{{ SITEURL }}/pages/how-it-works.html" role="button">LEARN MORE</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="visible-lg" src="{{ SITEURL }}/theme/images/Home Page Hero 2.jpg" alt="Spend Smarter">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Spend Smarter</h1>
                    <h3>Control your SaaS expenses, understand your subscriptions and maximize your business value.</h3>
                    <p>
                        <br>
                        <a class="btn btn-lg btn-applogie" href="{{ SITEURL }}/pages/finance.html" role="button">LEARN MORE</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="visible-lg" src="{{ SITEURL }}/theme/images/Home Page Hero 3.jpg" alt="See Clearer">
            <div class="container">
                <div class="carousel-caption">
                    <h1>See Clearer</h1>
                    <h3>Exclusive technology provides visibility into the scope, waste and value of your cloud-based services.
                        With all your subscriptions in one comprehensive view, it’s easy to identify areas of potential savings.</h3>
                    <p>
                        <br>
                        <a class="btn btn-lg btn-applogie" href="{{ SITEURL }}/pages/operations.html" role="button">LEARN MORE</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="visible-lg" src="{{ SITEURL }}/theme/images/Home Page Hero 4.jpg" alt="Sit Back and Relax">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Sit Back and Relax</h1>
                    <h3>Applogie automatically integrates with your current subscriptions and requires no oversight from your
                        team members.</h3>
                    <p>
                        <br>
                        <a class="btn btn-lg btn-applogie" href="{{ SITEURL }}/pages/it.html" role="button">LEARN MORE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
