<div id="myCarousel" class="carousel slide large-header">
    <div class="carousel-inner">
        <div class="item active">
            <img class="visible-lg" src="{{ SITEURL }}/theme/images/Finance Hero.jpg" alt="Rein in Cloud Costs and Regain Budget Predictability">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Rein in SaaS and Regain Budget Predictability</h1>
                    <h3 class="visible-lg visible-md">Take back control over cloud costs. Applogie eliminates invoice anxiety by stopping overspend before
                        it starts. Prepare for discussions with the knowledge and data you need to make sound cloud finance
                        decisions– no matter where you are in the billing cycle.</h3>
                    <br>
                    <a type="button" class="btn btn-outline-green" href="https://info.applogie.com/request-a-free-trial" role="button">REQUEST DEMO</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator hidden-lg hidden-md">&nbsp;</div>
<div class="container-fluid">
    <!-- START THE FEATURES -->
    <div class="row features">
        <div class="col-md-6 col-md-push-6 featurette-col">
            <img class="img-responsive center-block featurette-img-right" alt="Lead the Discussion" src="{{ SITEURL }}/theme/images/finance-1.png">
        </div>
        <div class="col-md-offset-1 col-md-5 col-md-pull-6 text-right">
            <h1 class="featurette-heading text-left">Lead the Discussion</h1>
            <p class="featurette-description text-left">With easy access to information about your organization’s IaaS, PaaS and SaaS subscriptions, pricing structures
                and usage data, you’ll have what you need to lead budgeting discussions with confidence.</p>
        </div>

    </div>

    <div class="row color-White features">
        <div class="col-md-6 featurette-col">
            <img class="img-responsive center-block featurette-img-left" alt="No More Searching Through Your ERP" src="{{ SITEURL }}/theme/images/finance-2.png">
        </div>
        <div class="col-md-6 text-left">
            <h1 class="featurette-heading">No More Searching Through Your ERP</h1>
            <p class="featurette-description">Imagine your organization’s cloud usage in one single pane of glass. Applogie brings disparate data sources together
                so you can gain actionable insight into your monthly payments, budget, license owners and pending renewals
                – all at a glance.</p>
        </div>
    </div>

    <div class="row features">
        <div class="col-md-6 col-md-push-6 featurette-col">
            <img class="img-responsive center-block featurette-img-right" alt="Stop Unwelcome Surprises" src="{{ SITEURL }}/theme/images/finance-3.png">
        </div>
        <div class="col-md-offset-1 col-md-5 col-md-pull-6 text-right">
            <h1 class="featurette-heading text-left">Stop Unwelcome Surprises</h1>
            <p class="featurette-description text-left">Our automated alerts help you identify underutilized subscriptions and overlapping capabilities, manage license
                capacity, and anticipate renewals and changing pricing structures.</p>
        </div>
    </div>
    <!-- /END THE FEATURES -->
</div>