<div class="row">
    <div class="container">
        <div class="col-lg-9 col-lg-push-3 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <span class="col-lg-3 col-lg-push-9 col-md-12 col-sm-12 col-xs-12">
                    <a href="https://www.facebook.com/applogie/" target="_blank">
                        <img src="{{ SITEURL }}/theme/images/facebook_inactive.svg" alt="Facebook logo">&nbsp;</a>
                    <a href="https://twitter.com/applogie" target="_blank">
                        <img src="{{ SITEURL }}/theme/images/twitter_inactive.svg" alt="twitter logo">&nbsp;</a>
                    <a href="https://linkedin.com/company/applogie" target="_blank">
                        <img src="{{ SITEURL }}/theme/images/linkedin_inactive.svg" alt="linkedin logo">
                    </a>
                </span>
                <span class="col-lg-9 col-lg-pull-3 col-md-12 col-sm-12 col-xs-12 text-right">
                    <a href="http://support.applogie.com/support/login" target="_blank">Support</a>&nbsp;|
                    <a href="{{ SITEURL }}/pages/privacy-policy.html">Privacy Policy</a>&nbsp;|
                    <a href="{{ SITEURL }}/pages/terms-of-use.html">Terms of Use</a>&nbsp;|
                    <a href="{{ SITEURL }}/pages/terms-of-service.html">Terms of Service</a>&nbsp;|© 2017 Applogie, LLC.
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-lg-pull-9 col-md-12 col-sm-12 col-xs-12">
            <div class="footer-logo">
                <a href="/">
                    <img src="{{ SITEURL }}/theme/images/logo_hz_white.svg" alt="Applogie logo" height="44">
                </a>
            </div>
        </div>
    </div>
</div>