<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar color-Light-Teal"></span>
                <span class="icon-bar color-Light-Teal"></span>
                <span class="icon-bar color-Light-Teal"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{{ SITEURL }}/theme/images/applogie-logo.svg" alt="Applogie logo">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right safari-fix">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-large">
                    <a id="solutions-menu" class="dropdown-toggle sub-menu text-uppercase " data-toggle="dropdown" href="#">SOLUTIONS</a>
                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li class="col-lg-3">
                            <ul>
                                <li class="dropdown-header">
                                    <a href="/pages/finance.html">
                                        <h4>FINANCE</h4>
                                        <p>Rein in cloud costs and regain budget predictability.</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <ul>
                                <li class="dropdown-header">
                                    <a href="/pages/operations.html">
                                        <h4>OPERATIONS</h4>
                                        <p>Focus on your customers, not on your cloud usage.</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <ul>
                                <li class="dropdown-header">
                                    <a href="/pages/it.html">
                                        <h4>IT</h4>
                                        <p>Enable your cloud subscriptions to run independently.</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-large">
                    <a id="product-menu" class="dropdown-toggle sub-menu text-uppercase " data-toggle="dropdown" href="#">PRODUCT</a>
                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li class="col-lg-3">
                            <ul>
                                <li class="dropdown-header">
                                    <a href="/pages/how-it-works.html">
                                        <h4>HOW IT WORKS</h4>
                                        <p>Automatically integrate with your cloud providers for unified insight.</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <ul>
                                <li class="dropdown-header">
                                    <a href="/pages/features.html">
                                        <h4>FEATURES</h4>
                                        <p>Get a custom overview of how your business operates in the cloud.</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-large">
                    <a id="resource-menu" class="dropdown-toggle sub-menu text-uppercase " data-toggle="dropdown" href="#">RESOURCES</a>
                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li class="col-lg-3">
                            <ul>
                                <li class="dropdown-header">
                                    <a href="https://blog.applogie.com/">
                                        <h4>BLOG</h4>
                                        <p>Deeper insight into the news, trends, people, and technology behind
                                            Applogie.</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <ul>
                                <li class="dropdown-header">
                                    <a href="/u-inc-case-study.html">
                                        <h4>CASE STUDY</h4>
                                        <p>SaaS Platform Saves Time and Money on SaaS Costs.</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="pricing-menu" class="text-uppercase " href="/pages/pricing.html">PRICING</a>
                </li>
                <li>
                    <a id="about-menu" class="text-uppercase " href="/pages/about.html">ABOUT</a>
                </li>
                <li class="hidden-lg hidden-md requestDemo-menu">
                    <a class="last-item" target="_blank" href="https://ui.applogie.com/">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;LOG IN</a>
                </li>
                <a id="requestDemo-menu" target="_blank" class="btn btn-outline-inverse btn-applogie-sm visible-lg-* visible-md-* hidden-sm hidden-xs"
                href="https://ui.applogie.com/" role="button">LOG IN</a>
                <li class="hidden-lg hidden-md requestDemo-menu">
                    <a class="last-item" target="_blank" href="https://info.applogie.com/request-a-free-trial">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;FREE TRIAL</a>
                </li>
                <a id="requestDemo-menu" target="_blank" class="btn btn-applogie-white btn-applogie-sm visible-lg-* visible-md-* hidden-sm hidden-xs" href="https://info.applogie.com/request-a-free-trial" role="button">FREE TRIAL</a>                

            </ul>
        </div>
    </div>
</nav>