<div id="howitworks">
    <div class="container">
        <div class="row text-center visible-xs visible-sm">
            <div class="col-lg-4 container">
                <br>
                <br>
                <h1>Head in the Cloud? Applogie Keeps Your Feet on the Ground</h1>
                <div>Operating in the cloud means your organization can minimize costs, increase flexibility, and better support
                    its customers. It also means you can easily lose control of technology spending and communication across
                    departments. Applogie manages your cloud subscriptions to maximize value and minimize risk. With a single
                    pane of glass view into cloud subscriptions across the organization, your Finance, IT and Operations
                    teams can work collaboratively to optimize cloud usage, minimize costs and achieve business goals.</div>
            </div>
            <br>
            <br>
            <div class="col-lg-4">
                <br>
                <br>
                <img src="{{ SITEURL }}/theme/images/HIW-01-2_wide.svg" alt="Generic placeholder image">
                <br>
                <br>
                <p>Through analytics and insights, Applogie empowers you to manage and optimize your cloud subscription usage
                    and expenses.</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <br>
                <br>
                <img src="{{ SITEURL }}/theme/images/HIW-02-2_wide.svg" alt="Generic placeholder image">
                <br>
                <br>
                <p>Our proprietary discovery technology uncovers all the cloud subscriptions in your organization’s accounting
                    system.</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <br>
                <br>
                <img src="{{ SITEURL }}/theme/images/HIW-03-2_wide.svg" alt="Generic placeholder image">
                <br>
                <br>
                <p>Applogie integrates with your cloud solution providers and gives you a unified view of real-time usage and
                    billing information across subscriptions.</p>
            </div>
            <!-- /.col-lg-4 -->
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="row visible-md visible-lg">
            <div class="col-md-5">
                <br>
                <br>
                <br>
                <br>
                <h1 class="text-left">Head in the Cloud? Applogie Keeps Your Feet on the Ground</h1>
                <div class="text-left">Operating in the cloud means your organization can minimize costs, increase flexibility, and better support
                    its customers. It also means you can easily lose control of technology spending and communication across
                    departments. Applogie manages your cloud subscriptions to maximize value and minimize risk. With a single
                    pane of glass view into cloud subscriptions across the organization, your Finance, IT and Operations
                    teams can work collaboratively to optimize cloud usage, minimize costs and achieve business goals.</div>
            </div>
            <div class="col-md-offset-1 col-md-6">
                <div class="row">
                    <br>
                    <div id="htw-top" class="col-md-12">
                        <div class="container htw-top-img cards text-center"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="htw-center" class="col-md-12">
                        <div class="container htw-center-img text-center"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="htw-left" class="col-md-6">
                        <div class="container htw-left-img cards text-center"></div>
                    </div>
                    <div id="htw-right" class="col-md-6">
                        <div class="container htw-right-img cards text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KryZx5fLt7w?rel=0&amp;enablejsapi=1" frameborder="0"
        gesture="media" allowfullscreen=""></iframe>
</div>
<div class="key-features color-White">
    <div class="container marketing">
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h1>Easy as 1, 2, 3..</h1>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4 col-md-4 cards">
                <br>
                <br>
                <img class="container img-responsive circle step-1">
                <b class="caption center-block">STEP 1</b>
                <p>Applogie discovers your cloud subscriptions via payment data. The system receives this data by connecting
                    directly to your accounting system through its API or through an imported CSV of payment information.</p>
                <br>
                <br>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4 cards">
                <br>
                <br>
                <img class="container img-responsive circle step-2">
                <b class="caption center-block">STEP 2</b>
                <p>Applogie runs your payment information against our proprietary database of cloud providers to uncover all
                    the subscriptions across your organization. Our productized integrations pull real-time data from your
                    cloud subscription providers, so you can start to proactively manage your organization’s cloud usage.</p>
                <br>
                <br>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4 cards">
                <br>
                <br>
                <img class="container img-responsive circle step-3">
                <b class="caption center-block">STEP 3</b>
                <p>Applogie lets you sit back and relax. Our built-in analytics, alerts, reports, forecasting, and benchmarking
                    allow your organization to effectively optimize its cloud subscription usage and expenses.</p>
                <br>
                <br>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <a class="btn btn-outline-green" href="{{ SITEURL }}/pages/features.html" role="button">LEARN MORE</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <br>
        <br>
    </div>

</div>