<div class="key-features color-White">
    <div class="container marketing">
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h2>Get the Most Out of Your Cloud Investment<br> with Subscription Management Software</h2>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4 col-md-4 cards">
                <br>
                <br>
                <img class="container img-responsive circle discover">
                <b class="caption center-block">DISCOVER</b>
                <p>Thanks to our extensive vendor database, Applogie uncovers all the subscriptions hiding in your ERP and shows
                    you where you could be saving money or driving more value.</p>
                <br>
                <br>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4 cards">
                <br>
                <br>
                <img class="container img-responsive circle manage">
                <b class="caption center-block">MANAGE</b>
                <p>Understand your expenses and their returns, plan your budget and negotiate vendor contracts with confidence.
                    Applogie provides immediate insight into your financial data – without the manual maintenance.</p>
                <br>
                <br>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4 cards">
                <br>
                <br>
                <img class="container img-responsive circle optimize">
                <b class="caption center-block">OPTIMIZE</b>
                <p>Technology pricing models, capabilities and limitations change quickly. Applogie tracks these changes so
                    you can reduce waste and make decisions based on how you use the cloud today.</p>
                <br>
                <br>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <a class="btn btn-outline-green" href="https://info.applogie.com/request-a-free-trial" role="button">REQUEST DEMO</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <br>
        <br>
    </div>

</div>
