<section class="bs4-newsletter">
    <h4 class="title">Sign up for Newsletter and Blog notifications</h4>
    <form id="id_hubspot_applogie" action="https://www.applogie.com:4321/requestDemo" method="post" data-toggle="validator" role="form" novalidate="true">
            <div class="form-group m-b-0">
                <input type="email" class="form-control input-subscribe" id="mce-EMAIL" name="email" placeholder="Enter e-mail address" data-error="Sorry!, that email address is invalid" required="">
            </div>
            <input type="hidden" name="first_name" value="">
            <input type="hidden" name="last_name" value="">
            <input type="hidden" name="company" value="">
            <input type="hidden" name="phone" value="">
            <input type="hidden" name="message" value="newsletter">
            <input type="hidden" name="timestamp" value="">
            <input type="hidden" name="startTime" value="">
            <input type="hidden" name="endTime" value="">
            <input type="hidden" name="type" value="TASK">
            <button type="submit" class="btn btn-outline-green btn-newsltr disabled">SIGN UP</button>
            <h5 class="text-light">
                You can un-subscribe at any time.
            </h5>
    </form>
</section>