<div id="myCarousel" class="carousel slide large-header">
    <div class="carousel-inner">
        <div class="item active">
            <img class="visible-lg" src="{{ SITEURL }}/theme/images/Operations Hero.jpg" alt="Every Cloud Subscription Needs a Silver Lining">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Every Cloud Subscription Needs a Silver Lining</h1>
                    <h3 class="visible-lg visible-md">You moved to the cloud to save time and money – but are you? If the complexity of tracking and managing
                        cloud vendors is getting in the way of focusing on customers, Applogie will be your silver lining.</h3>
                    <br>
                    <a type="button" class="btn btn-outline-green" href="https://info.applogie.com/request-a-free-trial" role="button">REQUEST DEMO</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator hidden-lg hidden-md">&nbsp;</div>
<div class="container-fluid">
    <!-- START THE FEATURES -->
    <div class="row features">
        <div class="col-md-6 col-md-push-6 featurette-col">
            <img class="img-responsive center-block" alt="Refocus on Your Customers" src="{{ SITEURL }}/theme/images/operations-3.png">
        </div>
        <div class="col-md-offset-1 col-md-5 col-md-pull-6 text-right">
            <h1 class="featurette-heading text-left">Refocus on Your Customers</h1>
            <p class="featurette-description text-left">When your organization runs predictably, without any excessive monitoring or surprise charges, you can focus
                on the most important aspect of your business: your customers.</p>
        </div>
    </div>

    <div class="row color-White features">
        <div class="col-md-6 featurette-col">
            <img class="img-responsive center-block featurette-img-left" alt="Pay Just for What You Need" src="{{ SITEURL }}/theme/images/operations-4.png">
        </div>
        <div class="col-md-6 text-left">
            <h1 class="featurette-heading">Pay Just for What You Need
            </h1>
            <p class="featurette-description">Are you spending money on services you don’t need? Applogie helps you find out. Spend your hard-earned budget
                dollars on costs that add value, not on wasted technology.</p>
        </div>
    </div>

    <div class="row features">
        <div class="col-md-6 col-md-push-6 featurette-col">
            <img class="img-responsive center-block featurette-img-right" alt="Forecast with Confidence" src="{{ SITEURL }}/theme/images/operations-5.png">
        </div>
        <div class="col-md-offset-1 col-md-5 col-md-pull-6 text-right">
            <h1 class="featurette-heading text-left">Forecast with Confidence</h1>
            <p class="featurette-description text-left">Eliminate the guesswork in planning for your technology costs. The data Applogie provides can inform your quarterly
                and annual budget allocations, so your money ends up where it will make a difference.</p>
        </div>
    </div>
    <!-- /END THE FEATURES -->
</div>