<div id="myCarousel" class="carousel slide small-header">
    <div class="carousel-inner">
        <div class="item active">
            <img class="visible-lg" src="{{ SITEURL }}/theme/images/Pricing_Hero.png" alt="Pricing">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Pricing</h1>
                    <h3 class="visible-lg visible-md">Keep your feet on the ground with more enterprise features.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pricing" class="container text-center">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <br>
                <br>
                <img alt="" src="{{ SITEURL }}/theme/images/cloud.png" data-holder-rendered="true">
                <div class="caption">
                    <h3>
                        <b>Basic</b>
                    </h3>
                    <h5>$100/user/month</h5>
                    <p>
                        <a href="https://info.applogie.com/request-a-free-trial" class="btn btn-outline-green" role="button">Start free trial</a>
                    </p>
                    <br>
                    <dl class="dl-horizontal">
                        <dt>
                            <img alt="" height="30px" src="{{ SITEURL }}/theme/images/check.png" data-holder-rendered="true">
                        </dt>
                        <dd class="text-left">Unlimited Subscription</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            <img alt="" height="30px" src="{{ SITEURL }}/theme/images/check.png" data-holder-rendered="true">
                        </dt>
                        <dd class="text-left">Online Training</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            <img alt="" height="30px" src="{{ SITEURL }}/theme/images/check.png" data-holder-rendered="true">
                        </dt>
                        <dd class="text-left">Email Support</dd>
                    </dl>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <br>
                <br>
                <img alt="" src="{{ SITEURL }}/theme/images/day-cloud.png" data-holder-rendered="true">
                <div class="caption">
                    <h3>
                        <b>Pro</b>
                    </h3>
                    <h5>$1000/month</h5>
                    <p>
                        <a href="https://info.applogie.com/request-a-free-trial" class="btn btn-outline-green" role="button">Start free trial</a>
                    </p>
                    <br>
                    <p class="text-left">
                        <em>All of Basic plus:</em>
                    </p>
                    <p>
                    </p>
                    <dl class="dl-horizontal">
                        <dt>
                            <img alt="" height="30px" src="{{ SITEURL }}/theme/images/check.png" data-holder-rendered="true">
                        </dt>
                        <dd class="text-left">Up to 20 users</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            <img alt="" height="30px" src="{{ SITEURL }}/theme/images/check.png" data-holder-rendered="true">
                        </dt>
                        <dd class="text-left">1 hour extended training</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            <img alt="" height="30px" src="{{ SITEURL }}/theme/images/check.png" data-holder-rendered="true">
                        </dt>
                        <dd class="text-left">Annual health check</dd>
                    </dl>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <br>
                <br>
                <img alt="" src="{{ SITEURL }}/theme/images/sunny.png" data-holder-rendered="true">
                <div class="caption">
                    <h3>
                        <b>Enterprise</b>
                    </h3>
                    <h5>Custom</h5>
                    <p>
                        <a href="https://info.applogie.com/request-a-free-trial" class="btn btn-outline-green" role="button">Start free trial</a>
                    </p>
                    <br>
                    <p class="text-left">
                        <em>All of Pro plus:</em>
                    </p>
                    <p>
                    </p>
                    <dl class="dl-horizontal">
                        <dt>
                            <img alt="" height="30px" src="{{ SITEURL }}/theme/images/check.png" data-holder-rendered="true">
                        </dt>
                        <dd class="text-left">Unlimited users</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            <img alt="" height="30px" src="{{ SITEURL }}/theme/images/check.png" data-holder-rendered="true">
                        </dt>
                        <dd class="text-left">Dedicated customer success manager</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            <img alt="" height="30px" src="{{ SITEURL }}/theme/images/check.png" data-holder-rendered="true">
                        </dt>
                        <dd class="text-left">Quarterly health check</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            <img alt="" height="30px" src="{{ SITEURL }}/theme/images/check.png" data-holder-rendered="true">
                        </dt>
                        <dd class="text-left">Customized reports</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="features" class="separator section-title">
    <div class="container">
        <br>
        <br>
        <br>
        <h2>More Enterprise Features</h2>
        <br>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-left">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="{{ SITEURL }}/theme/images/ic_unl-vendors.svg" style="width: 64px; height: 64px;"> </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading text-uppercase">
                                <b>Unlimited Cloud Vendor Inclusion</b>
                            </h4>
                            <br>
                            <p>It’s our job to help you understand the value of your cloud subscriptions, not to limit them.
                                Our software is tracking more apps every day, which means your entire cloud immersion is
                                discoverable by Applogie.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="{{ SITEURL }}/theme/images/ic_on-boarding.svg" style="width: 64px; height: 64px;"> </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading text-uppercase">
                                <b>Onboarding Setup Support</b>
                            </h4>
                            <br>
                            <p>Applogie technology comes complete with real humans. Our team of experts oversees the software
                                as it discovers your cloud subscriptions and populates your custom dashboard. We are available
                                to offer guidance and answer questions throughout the entire process.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-left">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="{{ SITEURL }}/theme/images/ic_unl-users.svg" style="width: 64px; height: 64px;"> </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading text-uppercase">
                                <b>UNLIMITED USERS</b>
                            </h4>
                            <br>
                            <p>Applogie supports collaboration across departments and open communication between Finance, Operations
                                and IT teams. As part of that support, we don’t cap the number of users who can access or
                                contribute to your organization’s dashboard.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="{{ SITEURL }}/theme/images/ic_support.svg" style="width: 64px; height: 64px;"> </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading text-uppercase">
                                <b>One-on-One Support</b>
                            </h4>
                            <br>
                            <p>Our team of experts is available to offer guidance and insight into your cloud subscription management
                                needs. Though the solution is designed to run automatically, real human support and understanding
                                is always just a phone call or email away.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>